<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albania Coronavirus Info Live</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>
<body style="background-color: #15202b""> 
    <div class="text-center">
        <h3 style="color: white;" class="p-3 bg-primary">Coronavirus ne Shqiperi <span style="color: red;" >Live</span> </h3>
    </div>
    <div class="container">

        <section id="counter" class="section-padding">
            <div class="overlay"></div>
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="mt-4 text-center row">
                    <!-- Start counter -->
                    <div class="bg-danger mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                      <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-o"><i class="lni-users"></i></div>
                        <div class="fact-count">
                          <h2><span class="counter"> <b>{{ all }}</b> </span></h2>
                          <h3>Te gjitha rastet</h3>
                        </div>
                      </div>
                    </div>
                    <!-- End counter -->
                    <!-- Start counter -->
                    <div class="bg-success mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                          <div class="icon-o"><i class="lni-users"></i></div>
                          <div class="fact-count">
                            <h2><span class="counter"> <b>{{ recovered }}</b> </span></h2>
                            <h3>Te sheruar</h3>
                          </div>
                        </div>
                      </div>
                    <!-- End counter -->
                    <!-- Start counter -->
                    <div class="bg-secondary mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                        <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                          <div class="icon-o"><i class="lni-users"></i></div>
                          <div class="fact-count">
                            <h2><span class="counter"> <b>{{ deaths }}</b> </span></h2>
                            <h3>Te vdekur</h3>
                          </div>
                        </div>
                      </div>
                    
                  <div class="bg-warning mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="icon-o"><i class="lni-users"></i></div>
                      <div class="fact-count">
                        <h2><span class="counter"> <b>{{ new }}</b> </span></h2>
                        <h3>Rastet e reja sot</h3>
                      </div>
                    </div>
                  </div>

                  <div class="bg-info mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="icon-o"><i class="lni-users"></i></div>
                      <div class="fact-count">
                        <h2><span class="counter"> <b>{{ serioz }}</b> </span></h2>
                        <h3>Raste serioze</h3>
                      </div>
                    </div>
                  </div>
                <!-- End counter -->
              </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Counter Section End -->

    </div>
    <footer>
        <div class="text-center">
            <p class="bg-success"> Developed by <a href="https://redianmarku.pythonanywhere.com">Redian Marku</a> .</p>
        </div>
        
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>